{% extends "auctions/layout.html" %}

{% block title %}
    active listing to bid
{% endblock %}

{% block body %}
<head>
    <style>
        img{
            width: 300px;
            height: 300px;
        }
        .div {
            border-width: 1px;
            float:left;
            margin-left: 25px;
            width: 303px;
            height: 400px;
            border-color: black;
            border-style: solid;
            margin-top: 25px;
        }
        .a {
        color: black;
        }
         .a:hover {
        color: black;
        text-decoration: none;
        }
    </style>
</head>
   <h2>{{ heading }}</h2>
        {% for listing in listings %}
        <div class="div"><a class="a" href="{% url 'view_listing' listing_id=listing.id  %}">
             <p><img  class="image-front" src="{{ listing.image_url }}"></p>
            <p>{{ listing.name }}</p>
            {% if listing.last_high_bid.bid_price %}
             <p> Current bid price: {{listing.last_high_bid.bid_price}}</p>
            {% else %}
                <p>Starting bid price:{{ listing.starting_bid_price }}</p>
            {% endif %}
        </a>
        </div>

        {% endfor %}

{% endblock %}