{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
{{listing_obj.id}}:{{ listing_obj.name }}
{% endblock %}

{% block body %}
<style>
    .dmargin{
        margin: 0.4rem;
    }
    .hmargin{
        margin: 0 0.4rem;
    }
    .vmargin{
    }
    button {
        padding: 0.2rem 2rem;
    }
    ul{
        list-style: none;
    }
    .errorlist {
    border-width: 1px;
    border-color: red;
    border-style: solid;
    width: 300px;
    background-color: #ff8e8e;
    font-weight: 10px;
    text-transform: lowercase;
    }
    .errorlist:first-letter {
    text-transform: uppercase;
    }
    .info {
        border-width: 1px;
        border-color: green;
        border-style: solid;
        width: 100%;
        background-color: #b6ff8c;
        text-align: center;
        text-transform: lowercase
    }
    .info:first-letter {
    text-transform: uppercase;
    }
    .drelement{
        display: inline-block
    }
    img {
        max-height: 300px;
        max-width: 350px;
        min-width: 250px;
        width:100%;
        border-color: black;
        border-width: 10px;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        }
    button:hover {
        background-color: #005960;
        color: white;
}
    button {
    background-colour: default;
    border-radius: 10%;
}
    #id_description {
        height: 50px;
    }
    .dr {
    padding: 0.4rem;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    overflow-wrap: anywhere;
    }
    .image {
        float: left;
    }

    .data{
       display: grid;
       grid-template-columns: auto 40% auto;
    }
    .comment {
    margin-bottom: 5px;
    }
    .hr {
    background-color: black;
    }
    .label_comment_description {
        float: left;
    }
    .comment_heading{
        margin-top: 2rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .comment_description {
    padding: 0 0 0 1rem;
    }
    .comment_date_created {
    size: 12px;
    color: gray;
    float: left;
    }
    .comment_part1{
        display:flex;
    }
    .created_by {
    font-size: 17px;

    }
    .comment_created_by {
    padding: 0rem 1rem;
    }
    label{
        display:none;
    }
    .comment_form{
        display: flex;
        vertical-align: middle;
        align-items: center;
     }
     .winner_msg{
          animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
          50% { opacity: 0; }
        }
       .messages{
            padding:1rem 2rem;

       }
       .drelement{
         vertical-align: top;
       }




</style>
<div class="data">
    <div class="part1 image dmargin">
        <img src="{{ listing_obj.image_url }}">
    </div>
    <div class="dv part2 dmargin">
        {% for f in listing_obj.get_all_fields %}
        <div class="dr">
            <label for="{{ f.label }}" class="drelement detailvaluelabel">
                <dt> {{f.label|capfirst}} :</dt>
            </label>
            <div class="drelement detailvalue" id="{{ f.label }}">
                {{f.value|escape|urlize|linebreaks}}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="part3 dmargin">

        {% if user.is_authenticated and listing_obj.status == "A" %}

        {% if messages %}
        <div class="messages dmargin">
            {% for message in messages %}
            <div {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        {% if listingOnUserWatchList %}
        <form class="dmargin" action="{% url 'remove_watchlist'%}" method="post">
            {% csrf_token %}
            <input type="text" name="id" value="{{listing_obj.id}}" hidden>
            <button> Remove from Watchlist</button>
        </form>
        {% else %}
        <form class="dmargin" action="{% url 'add_watchlist'%}" method="post">
            {% csrf_token %}
            <input type="text" name="id" value="{{listing_obj.id}}" hidden>
            <button> Add to Watchlist</button>
        </form>
        {% endif %}


        {% if user == listing_obj.created_by %}
            <a class="dmargin" href="/listing/{{listing_obj.id}}/close-bid/">
                <button>Close bid</button>
            </a>
            {% else %}
        <form class="bid_form dmargin" action="{% url 'submit_bid'%}" method="post">
            {% csrf_token %}
            {{ bid_form }}
            <button type="submit">$ Place your bid $</button>
        </form>
        {% endif %}
        <form class="comment_form dmargin" action="{% url 'post_comment'%}" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <button class="hmargin" type="submit">Post comment</button>
        </form>


        {% elif user.is_authenticated and listing_obj.status == "C" and user == listing_obj.last_high_bid.user %}
        <div class="winner_msg dmargin">
            You are the winner!!!
        </div>
        <img src="{% static 'images/award.png' %}" alt="I am number 1">
        {% endif %}


        <hr class="hr dmargin">
        <div class="comment_heading dmargin">Comments:</div>
        <div class="comment dmargin">
            <hr class="hr">
            {% for comment in listing_obj.comments_listing.all.reverse %}
                <div class="comment_part1 vmargin">
                    <div class="comment_created_by"><p class="created_by"><strong>{{ comment.created_by }}</strong></p>
                    </div>
                    <div class="comment_date_created">{{ comment.created_on }}</div>
                </div>
                <div class="comment_description"><p>{{ comment.description }}</p></div>
            <hr class="hr">
            {% empty %}
                <div class="no_comments">No comments so far. Be the first one to write...</div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}