{% extends "auctions/layout.html" %}

{% block title %}
{{listing_obj.id}}:{{ listing_obj.name }}
{% endblock %}

{% block body %}
<style>
    ul{
        list-style: none;
    }
    .errorlist {
    border-width: 1px;
    border-color: red;
    border-style: solid;
    width: 300px;
    background-color: #ff8e8e;
    font-weight: 10px;
    text-transform: lowercase;
    }
    .errorlist:first-letter {
    text-transform: uppercase;
    }
    .info {
    border-width: 1px;
    border-color: green;
    border-style: solid;
    width: 300px;
    background-color: #b6ff8c;
    text-align: center;
    text-transform: lowercase
    }
    .info:first-letter {
    text-transform: uppercase;
    }
    .drelement{
        display: inline-block
    }
    img {
        height: 300px;
        width: 350px;
        border-color: black;
        border-width: 10px;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        }
    button:hover {
        background-color: #005960;
        color: white;
}
    button {
    background-colour: default;
    border-radius: 10%;
}
    #id_description {
    height: 50px;
    width: 200px;
    }
    .dr {
    padding: 0.4rem;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 500px;
    overflow-wrap: anywhere;
    }
    .image {
    float: left;
    margin left: 5px;
    margin-right:5px;}

    .data{
       display: grid;
       grid-template-columns: auto 40% 35%;
    }
    .comment {
    margin-bottom: 5px;
    }
    .hr {
    background-color: black;
    }
    .label_comment_description {
    float: left;
    }
    .comment_description {
    padding: 0 0 0 1rem;
    }
    .comment_date_created {
    size: 12px;
    color: gray;
    float: left;
    }
    .comment_part1{
        display:flex;
    }
    .created_by {
    font-size: 17px;

    }
    .comment_created_by {
    padding: 0rem 1rem;
    }
    label{
        display:none;
    }


</style>
<div class="data">
<div class="part1 image">
<p class="image"><img src="{{ listing_obj.image_url }}"></p>
</div>
<div class="dv part2">
{% for f in listing_obj.get_all_fields %}
<div class="dr" display="grid">
 <label for="{{ f.label }}" class="drelement detailvaluelabel"><dt> {{f.label|capfirst}}</dt></label>
    <div class="drelement detailseparator">:</div>
    <div class="drelement detailvalue">
      {{f.value|escape|urlize|linebreaks}}
    </div>
</div>
{% endfor %}
</div>
<div class="part3">
{% if messages %}
<ul class="messages" xmlns="http://www.w3.org/1999/html">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

    {% if user.is_authenticated and listing_obj.status == "A" %}
    <p>
        {% if listingOnUserWatchList %}
        <form action="{% url 'remove_watchlist'%}" method="post">
            {% csrf_token %}
            <input type="text" name="id" value="{{listing_obj.id}}" hidden>
            <button> Remove from Watchlist </button>
        </form>
        {% else %}
        <form action="{% url 'add_watchlist'%}" method="post">
            {% csrf_token %}
            <input type="text" name="id" value="{{listing_obj.id}}" hidden>
            <button> Add to Watchlist </button>
        </form>
        {% endif %}
    </p>
    <p>
        {% if user == listing_obj.created_by %}
            <a href="/listing/{{listing_obj.id}}/close-bid/"><button>Close bid</button></a>
        {% else %}
        <form action="{% url 'submit_bid'%}" method="post">
            {% csrf_token %}
            {{ bid_form }}
            <button type="submit">$ Place your bid $</button>
        </form>
        {% endif %}
    </p>
{% elif user.is_authenticated and listing_obj.status == "C" and user == listing_obj.last_high_bid.user %}
    You are the winner!!!
{% endif %}

<form action="{% url 'post_comment'%}" method="post">
        {% csrf_token %}
        {{ comment_form }}
        <button type="submit">Post comment</button>
</form>
    <hr class="hr">
{% for comment in listing_obj.comments_listing.all %}
<div class="comment">
    <div class="comment_part1">
        <div class="comment_created_by"> <p class="created_by"><strong>{{ comment.created_by }}</strong></p></div>
        <div class="comment_date_created">{{ comment.created_on }}</div>
    </div>

    <div class="comment_description"><p>{{ comment.description }}</p> </div>

    <hr class="hr">
</div>


{% endfor %}
</div>
</div>
{% endblock %}